<div>
<a href="/movies">Go back</a>
<img src="{{film.image}}">
<h1>{{film.title}}</h1>
<h2>{{film.director}}</h2>
<h3>{{film.stars}}</h3>
<p>{{film.description}}</p>
<h4>{{film.showtimes}}</h4>
</div>

